$widget-height: 38px;
$primary-color: #1058ac;
$right-bgcolor: #f3fdff;
$green: #66c238;

%button {
    width: 80px;
    height: $widget-height - 4px;
    display: inline-block;
    color: $primary-color;
    font-weight: bold;
    // border-radius: 3px;
    // box-shadow: 0 0 2px 0 #0007;
    // box-shadow: inset 0 0 0 2px white;
    border: 2px solid $primary-color;
    line-height: $widget-height - 4px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}
body {
    box-sizing: border-box;
    --el-color-primary: #1058ac;
}
// 动画
.pop-enter-active,
.pop-leave-active {
    transition: all 200ms ease;
}

.pop-enter-from,
.pop-leave-to {
    opacity: 0;
    transform: scale(0.9);
}

.fade-enter-active,
.fade-leave-active {
    transition: all 200ms ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.switch-enter-active,
.switch-leave-active {
    transition: all 100ms ease;
}

.switch-enter-from {
    opacity: 0;
    transform: translateY(50%) scale(0.5);
}

.switch-leave-to {
    opacity: 0;
    transform: translateY(-50%) scale(0.5);
}
.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: scale(0.5);
}

.list-leave-active {
    position: absolute;
}

// 公用类
.section {
    padding: 0 40px;
}

.section-content {
    margin-top: 24px;
    padding: 0 10px;
}

.info {
    font-size: smaller;
    font-weight: normal;
    font-style: italic;
    color: gray;
    // text-align: center;

    &::before {
        content: "*";
    }
}

.small-title {
    padding-left: 8px;
    border-left: 5px solid $primary-color;
    // border-radius: 3px;
}